<div class="card mt-4">
  <div class="card-header">
    <strong>Best rated movies</strong>
  </div>
  <div class="card-body">
    <app-movie-list [movies]="bestRatedMovies.data"></app-movie-list>
  </div>
  <div class="card-footer">
    <app-paginator [query]="bestRatedMovies"></app-paginator>
  </div>
</div>

<div class="card mt-4 mb-4">
  <div class="card-header">
    <strong>Latest added movies</strong>
  </div>
  <div class="card-body">
      <app-movie-list [movies]="latestAddedMovies.data"></app-movie-list>
  </div>
  <div class="card-footer">
    <app-paginator [query]="latestAddedMovies"></app-paginator>
  </div>
</div>
